<div>
  <label for="colorPicker">Pick Color</label>
  <input type="color" id="colorPicker" #ElementRef/>
</div>
<div class="color-box" [style.backgroundColor]="selectedColor">
  <h1>APP COMPONENT</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque veniam ab recusandae ad vel maiores earum accusamus
    aliquam fugiat reiciendis. Minus iste, similique qui non minima voluptatibus magni enim assumenda quaerat odit unde
    fugiat fuga itaque doloribus. Ullam vero incidunt nemo! Voluptate nostrum repudiandae ducimus magnam impedit
    reprehenderit voluptas esse repellat odit dolorum. Sapiente quaerat quia voluptatibus soluta magni vel excepturi, ad
    ex inventore.
  </p>
</div>